{% extends "base.html" %}
{% block content %}
        <div class="container">
          <h1>Project</h1>
          <hr align= "left" size="1px" width="600px" color="violet">
      
          <div class="row">
              <div class="col-8">
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                      <div class="alert alert-warning" role="alert">
                          {% for message in messages %}
                               {{ message }}<br>
                          {% endfor %}
                      </div>
                      {% endif %}
                  {% endwith %}
                  <h2 style="border-bottom:5px solid gray" padding:3px>Активность по задачам</h2>  
                  <div class="container-md">
                  <card>
                 {% for action in actions %}
                 
                  <hr>{{action.action_date.strftime('%d.%m.%Y %H:%M')}} Пользователь <a href="user/{{ action.action_user}}">  {{action.users.firname_lasname }}</a> 
                  {{ action.changes.description }} номер <a href="task/{{ action.action_object}}"> {{ action.action_object }}</a></hr>  
                {% endfor %}
                </card>
                </div>
              </div>
              <div class="col-4">
                  <h2 style="border-bottom:5px solid Gray">Сотрудники</h2>
                  {% for user in users %}
                  <p><a href="/user/{{ user.id }}"> {{ user.firname_lasname }}</a></p>
                  {% endfor %}
{% endblock %}