{% extends "base.html" %}
{% block content %}

 
    <div class="container @t-5">
        <h1>{{ title }}</h1>
        {% for task in tasks%}
        <div class="alert alert-info">
            <h2>{{ task.name }}</h2>
            <p> {{ task.description }}</p>
            <p> <b>Статус задачи {{ task.status }}</b></p>
            <p><b>Создатель {{ task.creator }}</b></p>
            <p><b>Испольнитель {{ task.responsible }}</b></p>
            <p><b>Срок исполнения до {{ task.deadline.date() }}</b></p>
            <p><b>Комментарии: {{ task.comments_count() }}</b></p>
            <a href="task/{{ task.id }}" class="btn btn-primary">Детали задачи</a>
        </div>
        {% endfor %}
    </div>
      </div>
      </div>
    </div>
    {% endblock %}